<h1>Bulk Discounts</h1>

<% @discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <h5><%= link_to discount.name, merchant_discounts_path(@merchant, discount) %></h5>
    <p>Get <%= discount.percentage_discount %>% off when you reach <%= discount.quantity_threshold %> items</p>
    <hr>
  </div>
<% end %>